<!DOCTYPE html>
<html>
<head>
    <title>Culture - Malaysia Kiosk</title>
    <style>
        body { font-family: sans-serif; text-align: center; background-color: #fff3e0; }
        .video-box { width: 60%; margin: 20px auto; background: black; color: white; padding: 50px; }
    </style>
</head>
<body>
    <h1>Malaysian Culture</h1>
    <a href="{{ url_for('home') }}">Back to Home</a>
    
<div class="video-box" style="background: black; padding: 20px; border-radius: 10px; width: 70%; margin: 20px auto;">
        
        <video width="100%" height="auto" controls poster="{{ url_for('static', filename='images/banner.jpg') }}">
            <source src="{{ url_for('static', filename='videos/culture_video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <h3 style="color: white; margin-top: 10px;">Traditional Performance: Zapin</h3>
    </div>

    <h3>Local Delicacies</h3>
    <p>Nasi Lemak | Satay | Laksa</p>
</body>
</html>